@model asp_assignment.Models.Supplier

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Supplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SupplierID" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label><span style="color:red">  *</span>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label><span style="color:red">  *</span>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label><span style="color:red">  *</span>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhoneNumber" class="control-label"></label><span style="color:red">  *</span>
                <input asp-for="MobilePhoneNumber" class="form-control" type="number" />
                <span asp-validation-for="MobilePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkPhoneNumber" class="control-label"></label>
                <input asp-for="WorkPhoneNumber" class="form-control" />
                <span asp-validation-for="WorkPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomePhoneNumber" class="control-label"></label>
                <input asp-for="HomePhoneNumber" class="form-control" />
                <span asp-validation-for="HomePhoneNumber" class="text-danger"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
